.DS_Store
AlgeSDK_1701/.DS_Store
AlgeSDK_1701/Platforms/.DS_Store
AlgeSDK_1701/Platforms/Alge-Android/
AlgeSDK_1701/Platforms/Alge-Gnat-macOS/.DS_Store
AlgeSDK_1701/Platforms/Alge-Gnat-macOS/obj/gnatinspect.db-shm
AlgeSDK_1701/Platforms/Alge-Gnat-macOS/obj/gnatinspect.db-wal
AlgeSDK_1701/Platforms/Alge-Gnat-macOS/obj/gpsauto.cgpr
AlgeSDK_1701/Platforms/Alge-OSX/
AlgeSDK_1701/Platforms/Alge-PlayBook/
AlgeSDK_1701/Platforms/Alge-Win32/
AlgeSDK_1701/Platforms/Alge-iPhone/
AlgeSDK_1701/Platforms/Get Platforms from XAL Store.url
AlgeSDK_1701/README.md
AlgeSDK_1701/desktop.ini
com_acnodelabs/.DS_Store
com_acnodelabs/Car/
com_acnodelabs/ElonsDream/
com_acnodelabs/MyPlayground.playground/
com_acnodelabs/PlanetsAda/.DS_Store
com_acnodelabs/Spurtac/
com_acnodelabs/TicTacToe.Assets/
com_acnodelabs/TicTacToe/
com_acnodelabs/iSight/